# VIM
*.swp
*.swo

# Ignore binaries
main.exe
main

# Ignore the generated HTML directory.
html/pages
html/posts
html/presentations
html/index.html

# This is downloaded during the build.
reveal_js.zip

# Explicitly ignore some files for testing
ignoreme/
