html {
  background-color: #fff;
  min-width: 300px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Times New Roman", serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.05em;
  line-height: 1.2;
  border-bottom: 1px solid #d0d7de;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.1;
  border-bottom: 1px solid #d0d7de;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.1;
}

section {
  padding: 3rem 1.5rem;
  flex-grow: 1;
}

.subtitle {
  color: #4a4a4a;
  margin-bottom: 1.5rem;
}

footer {
  flex-basis: fit-content;
  flex-grow: 0;
  background-color: #fafafa;
  padding: 3rem 1.5rem;
  font-weight: 300;
  text-align: center;
}

.icon {
  height: 1em;
}

pre {
  white-space: pre-wrap;
}
